/* Leccion 4 */
body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: #333;
  border-bottom: 2px solid #ccc;
}

img {
  width: 400px;
  border-radius: 10px;
  border: 3px solid #005a9c;
}

a {
  color: #d9534f;
  text-decoration: none;
  font-weight: bold;
}

/* Leccion 5 */
.parrafo-destacado {
  background-color: #e9e9e9;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#titulo-principal {
  color: #005a9c;
  text-align: center;
  border-bottom: 4px solid #005a9c;
}

.boton-mdn {
  background-color: #005a9c;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
}

/* Leccion 6 */
#contenedor {
  width: 80%;
  max-width:900px;
  margin: 0 auto;
}